body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
header{
    text-align: left;
    color: white;
    font-size: 2em;
    padding: 20px;
    background-color: hsl(240, 96%, 38%);
}
footer{
    text-align: left;
    color: white;
    font-size: 2em;
    padding: 20px;
    background-color: hsl(240, 96%, 38%);
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(240, 100%, 55%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(240, 100%, 68%);
}
.navbar li{
    float: left;
}